<div id="background">
  
  <%# header %>
  <%= render partial: 'share/header' %>

  <div class="wrapper-skinny">
    <h1>Discover your new favorite<br> podcast, or create your own</h1>
    <%= link_to 'Create a Podcast', new_podcast_registration_path, class: 'button button-highlight' %>
    <%= link_to 'Explore', podcasts_path, class: 'button button-white' %>
  </div>  
</div>